[1, 2]

In [ ]:
--Question 1: How many actors are there with the last name 'Wahlberg'?

SELECT first_name, last_name 
FROM actor
WHERE last_name = 'Wahlberg';

--Question 2: How many payments were made between $3.99 and $5.99?
SELECT COUNT(*)
FROM payment 
WHERE amount BETWEEN 3.99 and 5.99;

--Question 3: What film does the store have the most of?
SELECT film_id 
FROM inventory 
GROUP BY film_id
HAVING COUNT(*)
ORDER BY COUNT(*) DESC
LIMIT 1

--Question 4: How many customers have the last name 'William'?
SELECT last_name
FROM customer
WHERE last_name = 'William';

--Question 5: What store employee sold the most rentals? 
SELECT  COUNT(staff_id)
FROM payment 
GROUP BY staff_id

--Question 6: How many different district names are there? 
SELECT MAX(customer_id)
FROM rental;



--Question 7: What film has the most actors in it?
SELECT film_id, COUNT(*)
FROM film_actor
GROUP BY film_id
ORDER BY num_actors DESC;

--Question 8: From store_id 1, how many customers have a last name ending with 'es'?
SELECT last_name, store_id
FROM customer
WHERE store_id = 1 AND last_name LIKE '%es';

--Question 9--
SELECT amount, COUNT(*) 
FROM payment
GROUP BY amount 
HAVING COUNT(*) > 250; 

--Question 10: How many rating categories are there?
SELECT rating 
FROM film 
GROUP BY rating 
ORDER BY COUNT(*) DESC